@if (ChildContent is not null || Title is not null || ShowCloseButton)
{
    <div class="modal-header">
        @if (ChildContent is not null)
        {
            <div>@ChildContent</div>
        }
        else
        {
            <h2 class="modal-title">@Title</h2>
        }

        @if (ShowCloseButton)
        {
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        }
    </div>
}
