<div class="modal fade" id="@Id">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable @_fullscreenClass @Class">
        <div class="modal-content">
            @ChildContent
        </div>
    </div>
</div>
