@inherits BaseModal<ErrorModalContext, None>

<Modal Id="@Context.Id">
    <ModalHeader>
        <h2 class="modal-title">
            <i class="bi bi-exclamation-circle text-danger-emphasis" /> @_title
        </h2>
    </ModalHeader>

    <ModalBody>
        <h5>@Context.Message</h5>

        @if (Context.Details is not null)
        {
            <h6>@Context.Details</h6>
        }
    </ModalBody>

    <ModalFooter>
        @if (_exceptionDetails is not null)
        {
            @if (_exceptionDetailsCopied)
            {
                <button type="button" class="btn btn-secondary" @onclick="CopyExceptionDetails">
                    <i class="bi bi-check" /> Details Copied
                </button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" @onclick="CopyExceptionDetails">
                    <i class="bi bi-copy" /> Copy Details
                </button>
            }
        }

        <button type="button" class="btn btn-primary" @ref="_confirmButton" @onclick="OnConfirm">
            <i class="bi bi-check-lg" /> @_confirmText
        </button>
    </ModalFooter>
</Modal>
